<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-09-30T16:42:24Z</date>
	<key>WorkspacePath</key>
	<string>/Users/carlos/Library/Mobile Documents/com~apple~CloudDocs/UOC_ICloud/2017/PFC/PAC1/HelloWorld/HelloWorld.xcodeproj</string>
</dict>
</plist>
